certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
et-xmlfile==1.1.0
exrex==0.11.0
idna==3.6
numpy==1.26.2
opencv-python==4.8.1.78
openpyxl==3.0.10
pandas==2.1.4
PySocks==1.7.1
pyTelegramBotAPI==4.14.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
requests-futures==1.0.1
six==1.16.0
stem==1.8.2
telebot==0.0.5
telegram==0.0.1
torrequest==0.1.0
tzdata==2023.3
urllib3==2.1.0
